/* Container */
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  /* Heading */
  .heading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .header_text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .curr_wpm, .curr_cpm, .curr_errors, .curr_time, .curr_accuracy {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* Quote */
  .quote {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Input area */
  .input_area {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    resize: none;
  }
  
  /* Restart button */
  .restart_btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .restart_btn:hover {
    background-color: #3e8e41;
  }
  